.pricebox{
    margin-top: -20px;
}
.pricein{
    margin-top: 20px;
}
.pricela{
    font-size: 17px;
    margin-left: 10px !important;
}

.container{

}

.select{
    padding: 10px;
    margin:6px;
    margin-right: 5%;
}
.sort{
font-size: 14px !important;
}


.filterContainer{
    margin-top:60px;
    display: flex;
    justify-content: space-between;
}
.filterHome{
    display:flex;
    flex-direction:row;
    margin-left:30px
}
.filterHomeText{
    font-size: 14px;
  padding:6px;
}
.filter{
    display:flex;
    flex-direction:column;
  
}
.filterText{
    font-size: 14px;
    padding:20px;
    margin-left:20px
}

.filterTitle{
    font-size: 16px;
    font-weight: 700;
    padding:20px;
    background-color:whitesmoke;
}
.leftBar{
    margin-left:30px;
  margin-top:25px;
  flex:1;
   
  height:auto;
  margin-right:30px;
  /* border-style:groove; */
  box-shadow: 0 2px 2px rgb(11 25 28 / 10%);

}
.gridArea{
    display: flex;
    flex-direction:row;
    margin-bottom:50px; 
}

.productShow{
    padding: 10px;
    padding-top:0px;
   /* margin-top:-60px; */
    flex:4;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:70px;
}

.btn{

}
.imgSize{
    height:370px;
     width:250px
}

@media screen and (max-width: 760px) {

    .filter{
      display: none !important;
    }
    
    .select{
        display: none !important;
    }
     
    .sort{
        display: none !important;
    }

    .productShow{
        justify-content: center;
        margin-left: auto !important;
        margin-right: auto;
        width: 99% !important;
        margin-top: 20px;
        
    }
    .leftBar{
        display: none !important;
    }

    .imgSize{
        height:220px;
        width:170px
    }
    
}