.borderstyle{
    border-top:20px solid #F7F7F7;
  }


  .outline{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width:100% !important;
    margin-top:20px;
    margin-bottom:20px;
  }

  .spacing{
    margin-left: 30px;
    font-size: 1.8em;
    letter-spacing: .15em;
    font-weight: 600;
    padding: 20px;
    text-transform: uppercase;
  }

  .alignment{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    /* flex-wrap: wrap; */
   
    width:88%;
  }
  .lgView{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    /* flex-wrap: wrap; */
   
    width:88%;
  }
.imgSize{
    height:112px;
    width:150px;
}
.shopPrice{
    margin-left: 15px;
    height:150px;
    width:300px;
}
.alignment2{
  display: none !important;
}
.mView{
  display: none ;
}
.covImg{
  width: 100% !important;
}
.storeContainer{
  padding: 20px;
  margin-bottom:10px;
      margin-top:20px;
      width:100% !important;
}
@media screen and (max-width: 760px) {

  .lgView{
    display: none !important;
  }
  .mView{
    display:flex !important;
    flex-direction:row;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap;
    width:97% !important;
  }
  .imgSize{
    height:100px;
    width:110px;
}
.covImg{
  width: 100% !important;
  height: 150px !important;
}
.storeContainer{
  padding: 0px !important;
}
}