.box{

    padding: 20px 0px;
    background: #1B252D;
    bottom: 0 !important;
    width: 100%;
    
    /* @media (max-width: 1000px) {
        padding: 70px 30px;
    } */


}
.container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
    
	padding-top:20px;
	padding-bottom:40px;
}

.column{
    display: flex;
flex-direction: column;
text-align: left;
}
.columnS{
    display: flex;
flex-direction: column;
text-align: left;
margin-left:20px;
}

.row{
    display: grid;
grid-template-columns: repeat(auto-fill,
						minmax(285px, 1fr));
grid-gap: 60px;

/* @media (max-width: 1000px) {
	grid-template-columns: repeat(auto-fill,
						minmax(200px, 1fr));
} */
}
.footlink{
    color: rgb(207, 203, 203) !important;
text-decoration: none !important;
cursor:pointer;
/* &:hover {
	color: green;
	transition: 200ms ease-in;
} */
}
.footlinkS{
text-decoration: none !important;
cursor:pointer;
background: #1B252D;
border:1px solid #1B252D;
text-align:left;
margin-left:-2%;
}

.heading{
    color: #fff;
    text-decoration: underline;
    margin-bottom: 20px;
}
.gap{
    display: flex;
   flex-direction: row;
    justify-content: center;
    padding: 120px;
   
   height:14vh;
}
@media screen and (max-width: 760px) {
    .spn{
        display: none !important;
    }
    .heading{
        margin-left:20px ;
    }
    .footlink{
        margin-left:10px;
    }

    .footlinkS{
        margin-left:10px !important; 
    }
    .columnS{
        margin-left:0px
    }
    .gap{
        padding:35px !important;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
        justify-content: center;
    }
}